.container {
    width: 100%;
    max-width: 1200px;
    height: 350px;
    grid-column: 1/3;

    display: grid;
    grid-template-columns: 50% 50%;

    border: 1px solid #960093;
    border-radius: 5px;
}

.containerNotSupported {
    width: 100%;
    max-width: 1200px;
    height: 350px;
    grid-column: 1/3;

    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;

    border: 1px solid #960093;
    border-radius: 5px;
}

.containerNotSupported a {
    text-decoration: none;
    color: #960093;
    transition: all 0.5s;
}

.containerNotSupported a:hover {
    transform: scale(1.2);
}


.leftWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.leftWrapper label {
    display: flex;
    flex-direction: column;
    width: fit-content;
}


.colorValue {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
}

.rightWrapper {
    position: relative;
    display: grid;
    place-items: center;
}

.image {
    width: auto;
    max-width: 70%;
    height: auto;
    max-height: 70%;
}

.backgroundImage {
    position: absolute;
    width: 90%;
    height: 90%;
    filter: blur(10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-position: center;
    object-fit: cover;
    z-index: -1;
}