
.ceContainer {
    /* COLORS */
    --ce-color-1: #F5F067;
    --ce-color-2: #EC4EF5;
    --ce-color-3: #F5D15B;
    --ce-color-4: #A9F573;
    --ce-color-5: #7F90F5;

    grid-column: 1/3;
    width: 100%;
    max-width: 100%;
    height: 900px;
    padding: 15px;
    background-color: #1e1e1e;
    border: 1px solid var(--ce-color-1);
    border-radius: 8px;
}