.section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 20px;


  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.801);
}

.curtain {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: black;
  z-index: 2;

  display: grid;
  place-content: center;

  transition: left 0.2s;
}

.curtain.showLogin {
  left: 50%;
}

.curtain.showSignup {
  left: 0;
}

.signupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}