
.signupForm {
    /* --- Variables --- */
    --color_1: #5c5c5c;
    --color_2: #404140;
    --color_3: #b8c0b8;
    --color_4: #dde6dd;
    --color_5: #1E2E1E;
    /* --- Variables --- */


    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    width: 400px;
    max-width: 100%;
  
    background-color: var(--color_2);
  
    border: 0px;
    border-radius: 5px;
  
    padding: 35px 25px;
  }
  
  .signupForm .fieldWrapper {
    width: 100%;
    position: relative;
  
    height: 2.5rem;
  }
  
  .signupForm .fieldWrapper:nth-child(1) {
    margin-bottom: 10px;
  }
  
  .signupForm input {
    position: absolute;
    font-family: inherit;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 5px;
    background-color: var(--color_1);
    padding: 8px 16px 0;
    caret-color: var(--color_3);
    color: var(--color_3);
  }
  
  .signupForm .todoFormLabel {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
  
    background: var(--color_1);
  
    font-weight: 900;
    color: var(--color_3);
  
    padding: 1px 5px;
    
    transition: all 0.5s ease;
  }
  
  .signupForm .fieldWrapper input:focus ~ .todoFormLabel {
    top: 0;
    left: 12px;
    scale: 0.9;
    background-color: var(--color_2);
    border-radius: 4px;
  }
  
  .signupForm .fieldWrapper input:not(:placeholder-shown) ~ .todoFormLabel {
    top: 0;
    left: 12px;
    scale: 0.9;
    background-color: var(--color_2);
    border-radius: 4px;
  }
  
  .signupForm input:focus-visible {
    outline: var(--color_3) solid 1px;
  }
  
  .signupForm button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100px;
  
    color: var(--color_2);
    background-color: var(--color_4);
  
    font-size: 1.2rem;
    font-weight: 700;
  
    border-radius: 3px;
    border: 0;
    padding: 5px;
    margin-top: 20px;

    transition: all 0.25s;
  }
  
  .signupForm button:hover {
    background-color: var(--color_2);
    outline: 1px solid var(--color_4);
    box-shadow: 3px 3px 10px #000000c2;
    color: var(--color_4)
  }


  .section input[type=password] {
    letter-spacing: 3px;
  }