.card {
    /* --- Variables --- */
    --color_1: #76B576;
    --color_2: #4C754C;
    --color_3: #1B291B;
    --color_4: #233623;
    --color_5: #1E2E1E;
    --color_negative: #D9534F;
    --color_positive: #339966;
    /* --- Variables --- */


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 5px;
    border: 0;
    box-shadow: -2px 2px 7px var(--color_3);
    background-color: var(--color_5);
    border-radius: 5px;
    max-width: 400px;
}

.card h1 {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color_2);
    text-align: start;
}

.card span {
    color: var(--color_1);
    font-size: 1.2rem;
    margin-bottom: 9px;
}

.ctasWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card button {
    display: flex;
    
    color: var(--color_3);
    background-color: var(--color_2);
    margin-top: auto;
    padding: 5px;
    border-radius: 3px;
    border: 0;
    text-decoration: none;    

    transition: all 0.25s;
}

.card .removeBtn:hover {
    background-color: var(--color_negative);
}

.card .removeBtn:hover svg * {
    fill: white;
}


.card .completeBtn:hover {
    background-color: var(--color_positive);
}

.card .completeBtn:hover svg * {
    stroke: white;
}