.card {
    /* --- Variables --- */
    --color_1: #76B576;
    --color_2: #4C754C;
    --color_3: #1B291B;
    --color_4: #233623;
    --color_5: #1E2E1E;
    --color_negative: #D9534F;
    --color_positive: #4c9154;
    /* --- Variables --- */


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    border: 0;
    background-color: var(--color_5);
    border-radius: 5px;
    max-width: 400px;
}

.card h1 {
    font-size: 22px !important;
    line-height: 1;
    color: var(--color_2);
    text-align: start;
}

.card span {
    color: var(--color_1);
    font-size: 16px;
    margin-bottom: 9px;
}

.ctasWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card .ctasWrapper button {
    display: flex;
    
    color: var(--color_3);
    margin-top: auto;
    border-radius: 3px;
    border: 0;
    text-decoration: none;    
    
    transition: all 0.25s;
}

.card .removeBtn {
    padding: 5px;
    background-color: var(--color_1);
}

.card .removeBtn:hover {
    background-color: var(--color_negative);
}

.card .removeBtn:hover svg * {
    fill: white;
}

.card .completeBtn {
    padding: 2px 10px;
}

.card .completeBtn svg {
    height: 25px;
    width: 25px;
}

.card .completeBtn:hover {
    background-color: var(--color_2);
    background-color: var(--color_positive);
}

.card .completeBtn:hover svg * {
    stroke: white;
}