.todoWrapper {
    /* --- Variables --- */
    --color_1: #76B576;
    --color_2: #4C754C;
    --color_2_soft: #5e765e;
    --color_2_soft_80: #5e765ed7;
    --color_3: #1B291B;
    --color_4: #233623;
    --color_5: #1E2E1E;
    /* --- Variables --- */


    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;

    background-color: var(--color_2_soft_80);
    border-radius: 5px;
    padding: 10px;
}

.todoWrapperTitle {
    font-weight: 900;
    font-size: 2.2rem;
    align-self: flex-start;
    color: var(--color_5);
}

.horizontalUine {
    width: 100%;
    border: 1px solid var(--color_4)
}

.loadingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin: 25px 0;
}

.loadingWrapper h2 {
    color: var(--color_3);
}

.horizontalLine {
    border: 1px solid var(--color_4);
}

.issuesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 10px;
    column-gap: 10px;

    margin: 10px 0;

    max-width: 100%;
}

.tasksCompletedTitle {
    color: var(--color_1);
    text-shadow: 0 0 5px #000000;
    justify-self: center;
    margin: 25px 0;
}

.issuesContainer .card {
    max-width: 20rem;
    height: 100%;
}

.issueFormContainer {
    position: relative;
    width: fit-content;
    max-width: 100%;
    align-self: flex-start;
}

@media screen and (max-width: 450px) {
    .issuesContainer {
        grid-template-columns: 100%;
    }
}