.sideBar {
    position: fixed;
    height: 100vh;
    max-width: 48px;
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    padding: 14px;
    gap: 12px;
    
    background-color: transparent;

    overflow: hidden;
    transition: max-width 0.2s;

    z-index: 10;
}

.burguer {
    width: 24px;
    height: 24px;

    cursor: pointer;
}

.sideBar.show {
    max-width: 150px;
    background-color: #203136;
    box-shadow: 2px 0px 13px 0px #000000ad;
}

.sideBar menu {
    font-size: 22px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 0.2s;
    height: 100%;
}

.sideBar:not(.show) menu {
    opacity: 0;
}

.sideBar menu li:last-child {
    margin-top: auto;
}

.sideBar a {
    color: inherit;
    text-decoration: none;
}