.toolsContainerWrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 25px;
    min-height: calc(100vh - 90px);
}

.toolsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(50% - 15px));
    gap: 30px;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    width: 1444px;
    transition: all 0.25s;
    filter: blur(0px);
}

.emptyBoardMsg {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.emptyBoardArrowWrapper {
    position: absolute;
    top: 0;
    right: 50px;
    animation: bounce 5s ease infinite;
}

.emptyBoardArrow {
    width: 150px;
    height: 100px;
    transform: rotate(-16deg);
}


.blurFilter {
    filter: blur(5px);
    cursor: copy;
}

.draggingOver {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 8px;
    
    animation: popIn 0.25s ease-out forwards;
}


@media screen and (max-width: 700px) {
    .toolsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@keyframes popIn {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}