.section {
    /* --- Variables --- */
    --color_1: #b8c0b8;
    --color_2: #dde6dd;
    --color_3: #5c5c5c;
    --color_4: #404140;
    --color_5: #1E2E1E;
    --color_6: rgba(187, 13, 80, 0.795);
    /* --- Variables --- */
  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px 20px;
  
    width: 800px;
    max-width: 85vw;
  
    margin: 60px auto;
  
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color_3);
}


.section > *:not(.loader) {
    position: relative;
    opacity: 0;
}

.section .profileImage {
    animation: appearRight 0.5s ease-out forwards;
}

.section .userData {
    animation: appearLeft 0.5s ease-out forwards;
    animation-delay: 0.25s;
}
.section .providers {
    animation: appearRight 0.5s ease-out forwards;
    animation-delay: 0.5s;
}
.section .signout {
    animation: appearLeft 0.5s ease-out forwards;
    animation-delay: 0.75s;
}

.profileImage {
    max-width: 150px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 3px #000000;
    background-color: rgba(255, 255, 255, 0.75);
}

.userData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.providers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.googleLogo {
    width: 24px;
    height: 24px;
}

.signout {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: var(--color_6);
    background-color: var(--color_2);
    outline: 1px solid var(--color_6);
  
    font-size: 1.2rem;
    font-weight: 700;
  
    border-radius: 3px;
    border: 0;
    padding: 5px;
    margin-top: 20px;
  
    transition: all 0.25s;
}
  
.signout:hover {
    background-color: var(--color_6);
    outline: 1px solid var(--color_2);
    box-shadow: 3px 3px 10px #000000c2;
    color: var(--color_2)
}

.loaderBlock {
    border-radius: 8px;
} 


@keyframes appearRight {
    from {
        opacity: 0;
        right: -50%;
    }
    to {
        opacity: 1;
        right: 0%;
    }
}

@keyframes appearLeft {
    from {
        opacity: 0;
        left: -50%;
    }
    to {
        opacity: 1;
        left: 0%;
    }
}