.workboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    margin-right: 72px;
    margin-bottom: 25px;
}

.workboard h1 {
    font-size: 2.2rem;
    align-self: flex-start;
    line-height: 0.9;
}