
.clampCalc {
    --color1: #AB7B76;
    --color2: #5E3C38;
    --color3: #c9c9c9;
    --color4: #F77060;
    --mainBackColor: #262626ce;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--mainBackColor);
    padding: 15px;
    border: 1px solid var(--color1);
    border-radius: 5px;

    max-width: 100%;

    grid-column: 1/3;
    overflow: hidden;

    animation: appear 0.5s ease-out;
}

.clampCalc,
.clampCalc * {
    color: var(--color3)
}

.valuesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin: 12px 0;
}

.valuesWrapper label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    opacity: 0;
}


.valuesWrapper label:nth-child(1) {
    animation: fadeIn 0.5s ease-out forwards;
}
.valuesWrapper label:nth-child(2) {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.25s;
}
.valuesWrapper label:nth-child(3) {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.5s;
}
.valuesWrapper label:nth-child(4) {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.75s;
}

.valuesWrapper input {
    font-size: 22px;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: #5E3C38;
    border: 0;
}

.valuesWrapper input:focus-visible {
    outline: var(--color3) solid 1px;
    outline-offset: 1px;
}

.resultWrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.result {
    width: 100%;
    font-size: 23px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 3px;
    color: var(--color2);
    background-color: var(--color3);

    animation: appear 0.5s ease-out;
}

.copyBtn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    
    display: flex;
    border: 1px solid var(--color2);
    border-radius: 3px;

    transition: background-color 0.2s;
}

.copyBtn:hover {
    background-color: var(--color1);
    border: 1px solid white;
}
.copyBtn:hover * {
    stroke: white;
}

.copyBtn:active {
    outline: 1px solid black;
    outline-offset: 1px;
}

.copyBtn * {
    stroke: var(--color2);
}


@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}