.pomoCard {
    /* --- Variables --- */
    --color_1: #567794;
    --color_2: #151b24;
    --color_2_90: #151b24e6;
    --color_3: #687c85;
    --color_4: #121e25;
    --color_5: #1E2E1E;
    --mainBackColor: #262626ce;
    /* --- Variables --- */


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    color: var(--color_3);
    background-color: var(--mainBackColor);

    width: 450px;
    max-width: 100%;
    padding: 15px;

    border-radius: 5px;
    border: 1px solid var(--color_1)
}

.pomoCard h1 {
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--color_1);
    align-self: flex-start;
}

.midWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pomoTime {
    font-size: 75px;
    font-weight: bold;
    line-height: 1;
}

.pomoBtnsWrapper {
    display: flex;
    gap: 10px;
}

.startPauseButton {
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: 0;
    transition: all 0.25s;
}

.startPauseButton:hover {
    transform: scale(1.1);
}

.stopButton {
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: 0;
}

.pomoButton {
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: 0;
    transition: all 0.25s;
}

.pomoButton:hover {
    transform: scale(1.1);
}
